<div class="top-bar-container">
    <div class="top-bar">
        <div class="container">
            <div class="col-xs-8 logo-container">
                <div class="logo">
                    <h1 class="strapline">Domiciliary & Home Care Agency</h1>
                </div>
            </div>
            <div class="contact col-xs-4">
                <div>Tel: 01983 853478</div>
                <div>Mob: 07791 200631</div>
                <div>Email: info@dolphincare-iow.com</div>
            </div>
        </div>
    </div>

</div>