<div class="module_home">
    <div class="row main-panel panel">
        <h2 class="col-xs-12">High Standard of Professional Care in the Home</h2>

        <div class="col-xs-8">
            <p>The priority of Dolphin Care is to provide a high quality of professional care to a high standard individual Service Users expect, enabling them to maintain the maximum level of independence possible.</p>

            <p>Our staff and management are trained up to NVQ Level 4 and training is ongoing through the Isle of Wight College and Isle of Wight Council to enhance knowledge, confidence and improve quality of care All staff are CRB and POVA (Protection
                of Vulnerable Adults) checked before commencing employment and the Agency has a full Public Liability Insurance and is Registered with CQC.</p>
        </div>
        <div class="col-xs-4">
            <img src="./content/images/home_main_pnl.jpg" />
        </div>
    </div>
    <div class="col-xs-6 panel right-panel">
        <div>
            <h2>Our Promise to You</h2>
            <span class="col-xs-12 underline"></span>
            <p>We aim to work closely with the client and family to ensure that care is provided in a safe environment, with courtesy and consideration, respectful of personal choices, dignity and beliefs. Dolphin Care has a zero tolerance of abuse in any
                form including physical, psychological, emotional, financial, sexual and ageism.</p>
        </div>
    </div>
    <div class="col-xs-6 left-panel panel">
        <div>
            <h2>Services Provided</h2>
            <span class="col-xs-12 underline"></span>
            <p>Dolphin Care is a domiciliary care agency based in Wroxall on the Isle of Wight and covering Sandown to Niton and Ventnor to Rookly, providing many care services such as Domestic, Social, Emotional and Home Care.</p>
        </div>
    </div>
</div>